h3
{
	margin:0;
	padding: 0;
}
.container
{
	width: 1339px;
	min-height: 670px;
	height: auto;
	margin: -7px;
}


.sidebar
{
	position: fixed;
	height: 670px;
	width:270px;
	background-color: #264348;
	color: #fff;
	float: left;
}

.side_image
{
	margin-top: 70px;
	margin-left: 5px;
	height: 100px;
	width: 95px;
	float: left;
}
.name
{
	margin: 155px 0px 0px 15px;
	height: 100px;
	width: 100px;
	color: #fff;
	font-size: 1.3em;
	font-family: 'Galdeano', sans-serif;
	float: left;
}
.navigation_bar ul
{
	list-style-type: none;
	float: left;
	margin: 50px 0px 0px 100px ;
	font-family: 'Signika', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	line-height: 50px;
	text-align: right;
}
.navigation_bar a
{
	text-decoration: none;
	color: #BDC3C7;

}
.navigation_bar a:hover
{
	color: #fff;
	text-decoration: underline;
}


.main_page
{
	position: relative;
	height: 670px;
	width: 1069px;
	background-image: url('../image/user.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	float: right;
}
.main_page_data
{
	/*position: relative;*/
	color: #fff;
	font-family: 'Lora', serif;
	font-size: 2.5em;
	z-index: 2;
	text-align: center;
	text-indent: justify;
	
}
.about_container
{

	height: 670px;
	width: 1069px;
	float: right;
	background-color: #ECF0F1;


}
.about_subtitle
{
	margin:30px 0px 0px 100px;
	width: 700px;
	color: #757D75;
	font-size: 1.5em;
	text-indent: justify;
}
.about_data
{
	margin:30px 0px 0px 100px;
	padding:5px 10px 5px 10px;
	width: 700px;
	color: #26C281;
}

.about_link
{
	margin-top:100px;
	margin-left: -40px;
	width: 700px;
}
.about_data ul
{
	list-style-type: none;
}
.about_data li
{
	display: inline;
	
}
.about_data a
{
	color: #000;
	text-decoration: none;
	border: 1px solid #000;
	padding: 20px 40px 20px 40px;
	/*-moz-border-radius: 35px;*/
	/*border-radius: 35px;*/
	border-radius: 30px;

}
.about_data a:hover
{
	background-color:#26C281; 
	color: #fff;

}

.skills
{

	height: 670px;
	width: 1069px;
	background-color:#26C281; 

	float: right;

}
.skills_subtitle
{
	margin:30px 0px 0px 100px;
	font-size: 1.5em;
	color: #fff;
}


.contact_container
{

	height: 670px;
	width: 1069px;
	float: right;
	background-image: url('../image/map.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	float: right;

}

.Contact_subtitle
{
	color: #fff;
	font-family: 'Lora', serif;
	font-size: 2.5em;
	margin: 20px 0px 0px 50px;
}
.round_contact
{
	margin-left: 150px;
	margin-top: 110px;
	width: 125px;
	height: 100px;
	padding:60px 0px 30px 60px;
	border: 1px solid #fff;
	border-radius: 100%;
	float: left;
}

.round_contact:hover
{
	background-color:#26C281;
}
.contact_data
{
	width: 200px;
	height: 100px;
	color: #fff;
	font-family: 'Lora', serif;
	font-size: 1em;
	text-align: center;
	margin: 0px 0px 0px 150px;
	float: left;


}

.resume_container
{
	height: 670px;
	width: 1069px;
	background-image: url('../image/resume.gif');
	background-size: cover;
	background-repeat: no-repeat; 
	float: right;


}

.resume_title
{
	color: #fff;
	font-family: 'Lora', serif;
	font-size: 2.5em;
	margin: 20px 0px 0px 50px;	
}
.resume_develop_area
{
	min-height: 400px;
	height: auto;
	width: 350px;
	margin:120px 0px 0px 220px;
	text-align: justify;
	border:1px solid #fff;
	background:#fff;
	opacity: 0.6;
	border-radius: 40px;
	float: left;

}
.resume_design_area:hover
{
	background-color: #C3272B;
	
}
.resume_design_area
{
	min-height: 400px;
	height: auto;
	width: 350px;
	margin:120px 0px 0px 120px;
	text-align: justify;
	border:1px solid #fff;
	background:#fff;
	opacity: 0.6;
	border-radius: 40px;
	float: left;


}
.resume_develop_area:hover
{
	background-color: #C3272B;
}
.resume_logo
{
	/*color: #red;*/
	height: 75px;
	width: 75px;
	text-align: center;
	margin-left: 130px;
	z-index: 1;
}

.resume_content
{
	height:120px;
	width: 200px;
	color: red;
	margin-top: 50px;
	margin-left: 60px;
	padding:20px;
}


.education
{

	height: 650px;
	width: 1069px;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: cover;

	float: right;

}
.education_graduation
{
	min-height: 200px;
	height: auto;
	width: 350px;
	margin:10px 0px 0px 100px;
	text-align: justify;
	border:1px solid #fff;
	background:#F2F4F4;
	border-radius: 40px;
	float: left;

}

.education_intermediate
{
	min-height: 200px;
	height: auto;
	width: 350px;
	margin: 150px 100px 0px 0px;
	text-align: justify;
	border:1px solid #fff;
	background:#22A7F0;
	border-radius: 40px;
	float: right;

}

.education_highschool
{
	min-height: 200px;
	height: auto;
	width: 350px;
	margin: 150px 0px 0px 100px;
	text-align: justify;
	border:1px solid #fff;
	background:#F2F4F4;
	border-radius: 40px;
	float: left;

}
.education_title
{
	color: #000;
	font-family: 'Lora', serif;
	font-size: 2.5em;
	margin: 20px 0px 0px 50px;	
}
.education_content
{
	
}
