/*index.html*/

.container
{   
	width: 1280px;
	background-color: #F5F7FA;
	margin: 0 auto 0;
}


.header
{
	background-color: #19B5FE;
	width: 1280px;
	height: 70px;
}
.user_img
{
	width: 25%;
	float: left;
}
.logo
{
	height: 70px;
	width: 300px;
	float: left;
}

.middle
{
	margin-top: 120px;
	width: 45%;
	text-indent: justify;
	color: #000;
	font-weight: bold;
	float: left;
}

.zwitter_head{
	font-family: 'Philosopher', sans-serif;
	color: #F22613;
	font-size: 2em;
}

.content{
	font-family: 'Open Sans', sans-serif;
}

.form_aside
{
	padding-right: 10px;
	width: 25%;
	float: right;
}

.user_image
{
	margin:160px 0px 150px 30px;
	margin
	height: 200px;
	width: 200px;
}

.login
{
	background-color: #EEEEEE;
	padding: 10px;
	margin-top: 20px;
	border-radius: 15px; 
	font-family: 'Arvo', serif;
	color: #000;
}

.register
{
	background-color: #EEEEEE;
	padding: 10px;
	color: #000;
	border-radius: 15px; 
	font-family: 'Arvo', serif;

}

footer{
	clear: both;
	background-color: #19B5FE;
	width: 1280px;
	height: 40px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-weight: bold;
	line-height: 35px;
}

.social_icon
{
	width: 40px;
	height: 40px;
	float: right;
	margin-top: 5px;
	padding: 5px;
}



.form-control {
	color: #434a54;
	border-color: #aab2bd;
	border-radius: 5px;
	height: 25px;
}

.btn{
	width: 100px;
	height: 30px;
	border-radius: 15px;
	font-family: 'Arvo', serif;
	font-weight: bold;
	background-color:#5B5BFC;
}

.btn:hover{
	background-color: #000;
	color: #fff;
	transition:0.5s linear all;
}




/*home.html*/

h1,p{
	padding: 0;
	margin: 0;
}


.zweet_box_layout
{
	margin:20px 50px 0px 10px;
	padding: 20px;
	border-radius: 15px;	
	border: 1px solid #4FC1E9;
	width: 800px;
	float: left;
	background-color: #89C4F4;	
}
textarea{
	border-radius: 15px;	
	border: 1px solid #4FC1E9;
}
.zweet_msg_box
{
	margin-right: 40px;
	float: right;
}
.zweets
{
	padding: 20px;
	margin: 20px 50px 0px 10px;
	height: 178px;
	width: 800px;
	background-color: #F2F1EF;
	border: 1px solid #4FC1E9;
	border-radius: 15px;
	float: left;
	
}

.home_left
{
	height: 600px;
	width: 800px;
	float:left;
}

.suggestion_column
{
	margin:20px 10px 0px 200px;
	height: 560px;
	width: 300px;
	background-color: #fff;
	float:left;
	border-radius: 15px;	
	border: 1px solid #4FC1E9;
	overflow: auto;
}
.about
{
	margin:20px 100px 0px 150px;
	padding: 20px;
	border-radius: 15px;	
	border: 1px solid #4FC1E9;
	width: 500px;
	float: left;
	background-color: #fff;
}

.footer_social_icon{
	width: 30px;
	height: 30px;
	float: right;
	padding: 5px;
}

.zweets_area
{
	padding:10px 0px 0px 20px;
	min-height: 30px;
	height: auto;
	width: 600px;
	margin:0px auto 0px;
	background-color: #fff;
	color: black;
	border: 1px solid #4FC1E9;
	border-radius: 15px;
	overflow: auto;

}

