
.wrapper{
    padding: 0px;
    margin: 0px;
    min-height: 650px;
    height: auto;
    width: 98%;
    background-color: #E9E5E5;
}
#header
{

	height: 100px;
	width: 98%;
	
	background-color: #9799DE;
}


#left
{
	margin: 7px 0px 0px -7px;
	padding: 20px;
	height: 450px;
	width: 25%;
	float: left;
	background: url('../images/img2.jpg') center center no-repeat;
	background-size: cover;

}



.container
{
	margin: 7px 0px 0px -7px;
	height: 450px;
	width: 48%;
	
	background-color: #000;
	color: #fff;
}

#right
{
	margin: 7px -7px;
	padding: 20px;
	height: 450px;
	width: 25%;
	float:right;
	background: url('../images/img2.jpg') center center no-repeat;
	background-size: cover;

}

#footer
{

	margin: -7px;
	height: 100px;
	width: 98%;

	background-color: #aaaaaa;
}
-
